<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script> -->
  <!-- <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script> -->
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Nico Schiavone
              </h1>
              <p>
                I am an M.Sc. student at the <a href="https://web.cs.toronto.edu/" target="_blank">University of Toronto, Department of Computer Science</a>, advised by <a href="https://www.cs.toronto.edu/~sheila/" target="_blank">Sheila McIlraith</a>. I am interested in multi-agent systems; I research cooperative AI with classical and LLM based agents. I also work in LLM steering and planning (especially long-term planning and goal decomposition).
              </p>
              <p>
                I graduated with a B.Sc. in Engineering Physics with a Minor in Mathematics from the <a href="https://www.ualberta.ca/index.html" target="_blank">University of Alberta</a> in Spring 2024. I focused on medical computer vision, with work on efficient algorithms for deep learning and image synthesis frameworks. I also briefly worked on superconductivity and mathematical physics problems.
              </p>
              <p>
                I was fortunate to be advised by <a href="https://www.ece.ualberta.ca/~xingyu/index.html" target="_blank">Xingyu Li</a>, <a href="https://apps.ualberta.ca/directory/person/fm3">Frank Marsiglio</a>, and <a href="https://apps.ualberta.ca/directory/person/ttang1">Tian Tang</a> over the course of my degree.
              </p>

              <p>
                During my B.Sc., I worked as a software engineer at <a href="https://www.telus.com/en">TELUS</a> and a researcher at <a href="https://www.triumf.ca/home">TRIUMF</a>. Outside of academia, I am an avid chess fan, writer, weightlifter and bedroom DJ.
              </p>
              
              <p style="text-align:center">
                <a href="/pdfs/SchiavoneNicolasResume.pdf" download>Resume</a> &nbsp;/&nbsp;
                <a target="_blank" href="https://mailhide.io/e/7uEbebzb">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/mesophil" target="_blank">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=1vuS7SkAAAAJ&hl=en" target="_blank">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/nicoschiavone" target="_blank"> LinkedIn </a>
              </p>

              <p style="text-align:center">
                /&nbsp;<a href="https://mesophil.github.io/scrapy-pg" target="_blank">Uniqlo Scraper</a>&nbsp;/
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/pic.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}" target="_blank">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" target="_blank">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target="_blank">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" target="_blank">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target="_blank">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}" target="_blank">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}" target="_blank">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}" target="_blank">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}" target="_blank">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}" target="_blank">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}" target="_blank">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}" target="_blank">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" target="_blank">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}" target="_blank">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target="_blank">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" target="_blank">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target="_blank">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info" target="_blank">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

